biom-format
flask==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
itsdangerous==1.1.0
click==7.1.2
flask-login==0.4.0
Flask-Mail==0.9.1
flask-ldap3-login
h5py
rpy2==3.1.0
scikit-learn
scipy
werkzeug==1.0.1
scikit-bio==0.5.7
pandas==1.0.3
Keras==2.3.1
Boruta
tensorflow==2.5.0
traitlets==4.3.3
numpy
cython<3
configparser
